h1{ 
    color: white;
}

body{
    background-color:black;
    font-family:'Courier New', Courier, monospace;
}
.stopwatch{
    width: 90%;
    max-width: 600px;
    background-size: cover;
    text-align: center;
    padding: 40px 0;
    margin: 200px auto 0;
}
.stopwatch h1 {
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}
 .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .buttons img {
    margin: 0 10px;
    cursor: pointer;
 }